<h2>Please provide us additional information</h2>

<%= form_for(@user) do |f| %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.submit "Submit" %></div>
<% end %>

